langchain
langchain-community
langchain-core
langchain-ollama
langchain-huggingface
langchain-chroma
pandas
polars
pydantic
sqlalchemy
python-dotenv
psycopg2-binary
chromadb
pypdf
sentence-transformers
tabulate